<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<table>
  <thead>
    <tr>
     <th width="10%"></th>
      <th width="45%%">Title</th>
      <th width="45%%">Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
      	<td><%= check_box_tag 'accept' %></td>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>
