<section class="events">

<h1>Events</h1>

<section class="index-form group">
<%= render 'form' %>
</section>

<table>
  <thead>
    <tr>
      <th width="20%">Venue</th>
      <th width="20%">Date</th>
      <th width="20%">Event Code</th>
      <th width="20%"></th>
      <th width="20%">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.venue %></td>
        <td><%= event.date %></td>
        <td><%= event.code %></td>
        <td><%= link_to "Live Admin", live_event_admin_path(event) %></td>
        <td><%= link_to 'View', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</section>
