<section class="live group">


<h1><%= @event.user.artist %></h1>
  <h2>Requests Remaining</h2>
  <p><%= @remaining_votes %></p>





	<% @set_items.each do |set_song| %>
	<div class="live-vote group">
		<dl class="group">
  <dt>Song</dt>
    <dd><%= set_song.song.title %></dd>
    </dl>
    <dl class="group">
  <dt>Artist</dt>
    <dd><%= set_song.song.artist %></dd>
    </dl>
    <dl class="group">
  <dt>Requests</dt>
    <dd><%= set_song.vote_count %></dd>
</dl>
		<p><%= button_to "Request This Song", controller: "votes", action: "create", set_item_id: set_song.id, audience_member_id: session[:audience_member_id], event_id: set_song.event_id %></p>
		</div>
	<% end %>
</section>


