<section class="event group">

<h1>Manage Set List</h1>

<section class="song-list group">
	<h2>Song List</h2>
	<table>
  <thead>
    <tr>
     <th width="30%"></th>
      <th width="35%">Title</th>
      <th width="35%">Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= form_tag set_items_path do %>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= hidden_field_tag :song_id, song.id %>
            <%= button_tag 'Add Song' %>
          <% end %>
        </td>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>

<section class="set-list group">
	<h2>Set List</h2>
	<table>
  <thead>
    <tr>
      <th width="30%"></th>
      <th width="35%">Title</th>
      <th width="35%">Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @set_items.each do |set_song| %>
      <tr>
      	<td><%= button_to 'Remove', set_item_path(set_song), method: :delete %></td>
        <td><%= set_song.song.title %></td>
        <td><%= set_song.song.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>








</section>
