<section class="songs">
<h1>Song Library</h1>

<section class="index-form group">
<%= render 'form' %>
</section>

<table>
  <thead>
    <tr>
      <th width="40%%">Title</th>
      <th width="40%%">Artist</th>
      <th width="20%%">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %>
        <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</section>